
<div class="col-lg-7">
	<div class="well">
		<div id='participants_per_month' style='background: #fff; text-align: center;'><%= image_tag("ajax-loader.gif") -%> Loading...</div>
	</div>
</div>


<div class="col-lg-7">
    <div class="well">
        <div id='percent_per_users' style='background: #fff; text-align: center;'><%= image_tag("ajax-loader.gif") -%> Loading...</div>
    </div>
</div>


   <!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(initStats);

    function initStats(){
        $.get("<%= url_for :controller => 'admins', :action => 'get_stats' -%>", function(data_raw){
            drawChart(data_raw);
            drawPie(data_raw);
        });        
    }

    function drawChart(d) {
        d_ = Array();
        d_.push(['Month', 'Participation Category #1', 'Participation Category #2', 'Participation Category #3', 'Validated']);

        for(x in d){
            tmp = [x, 0, 0, 0, 0]
            for(y in d[x]){
                if (d[x][y]['category'] == 'category_1'){tmp[1] += 1;}
                if (d[x][y]['category'] == 'category_2'){tmp[2] += 1;}
                if (d[x][y]['category'] == 'category_3'){tmp[3] += 1;}
                if (d[x][y]['status'] == true){tmp[4] += 1;}
            }
            d_.push(tmp);
        }

		var data = google.visualization.arrayToDataTable(d_);

    	var options = {
    		title: 'Participations per month',
    	};

		$('#participants_per_month').html('');
		var chart = new google.visualization.LineChart(document.getElementById('participants_per_month'));
    	chart.draw(data, options);
    }

    function drawPie(d){
        d_ = Array();
        d_.push(['Device', 'Percentage']);

        tab = {}; tab['mobile'] = tab['tablet'] = tab['desktop'] = 0;

        for(x in d){
            for(y in d[x]){
                tab[d[x][y]['device']] += 1;
            }
        }
        d_.push(['Mobile', tab['mobile']]);
        d_.push(['Desktop', tab['desktop']]);
        d_.push(['Tablet', tab['tablet']]);

        var data = google.visualization.arrayToDataTable(d_);

        var options = {
            title: 'Percentage of the device used',
        };

        $('#percent_per_users').html('');
        var chart = new google.visualization.PieChart(document.getElementById('percent_per_users'));
        chart.draw(data, options);
    }
</script>