<h1>Listing administrators</h1>
<a href='javascript: void(0);' id='show_form_add'><span class="label label-primary">Add an administrator</span></a>
<br /><br />
<div class="row" id='form_add' style='display: none;'>
    <div class="col-lg-6">
        <div class="well">
            <fieldset>
                <div class="form-group">
                    <label for="inputFbUserID" class="col-lg-2 control-label">Facebook User ID</label>
                    <div class="form-group col-lg-10" id='div-inputFbUserID'>
                        <input type="text" name='fb_userid' class="form-control" id="inputFbUserID" placeholder="Facebook user ID">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-success" id="check_admin">Check</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="well" style='display: none;' id='display-card'>

        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-hover" style='text-align: center'>
    <thead>
        <tr>
            <th></th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @admins.each do |admin| %>
        <tr>
            <td><img src="https://graph.facebook.com/<%= admin.fb_userid -%>/picture" width="50" height="50" /></td>
            <td><%= admin.firstname -%></td>
            <td><%= admin.lastname -%></td>
            <td style='text-align: center'>
                <%= button_to "Delete", { action: "destroy", id: admin.id },
                                method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
            </td>
        </tr>
        <% end -%>
    </tbody>
</table>

<script>
    $(document).ready(function(){
        $('#show_form_add').click(function(){
            if ($('#form_add').is(':hidden')){$('#form_add').slideDown('fast');}
            else{$('#form_add').slideUp('fast');}
        });

        $('#check_admin').click(function(){
            if (!$('#display-card').is(':hidden'))
                $('#display-card').slideUp('fast');
            FB.api($('#inputFbUserID').val(), function(response){
                if (response.error){
                    $('#div-inputFbUserID').removeClass('has-success').addClass('has-error');
                }else{
                    $('#div-inputFbUserID').removeClass('has-error').addClass('has-success');
                    var _html_ = "";
                    _html_ += '<img src="https://graph.facebook.com/'+response.id+'/picture" style="float: left; margin: 0 15px 0 0" />';
                    _html_ += '<h4>'+response.first_name+' '+response.last_name+'</h4>';
                    _html_ += '<div style="clear: both; height: 5px;"></div>';
                    _html_ += '<%= form_tag(controller: "admins", action: "create", method: "post") do %>';
                    _html_ += '<input type="hidden" name="fb_userid" value="'+response.id+'" />';
                    _html_ += '<input type="hidden" name="firstname" value="'+response.first_name+'" />';
                    _html_ += '<input type="hidden" name="lastname" value="'+response.last_name+'" />';
                    _html_ += '<div style="text-align: center"><button type="submit" class="btn btn-primary">Save</button></div>';
                    _html_ += '<% end %>';
                    $('#display-card').html(_html_).slideDown('fast');
                }
            });
        });
    });
</script>