<div class="page-header">
	<h1>Winners <small>(<%= @winners[:size] -%>)</small></h1>
</div>
<% @winners[:data].each_with_index do |s, i| %>
	<div class="thumbnail" style='max-width: 350px; float: left; margin: 10px;'>
		<a href='#' class='top_name'><small><strong><%= s[:full_name]-%></strong></small></a>
		<br />
		<small><%=s[:category]%></small>
		<img style="max-width: 250px; max-height: 250px;" src="<%= s[:picture]-%>">
		<br />
		<p><a href="#" id="<%=s[:id]%>" class="btn btn-small btn-danger ungrant">Ungrant</a></p>
	</div>
<% end %>

<div style='clear: both'></div>

<div class="page-header">
	<h1>Validated pictures <small>(<%= @subscribers[:size] -%>)</small></h1>
</div>
<button class="btn btn-small btn-primary check_all" type="button">Check all</button>
<button class="btn btn-small btn-success disabled accept_all" type="button">Grant checked</button>
<br /><br />
<div class='paginate'></div>
<% @subscribers[:data].each_with_index do |s, i| %>
	<div class="media">
		<a class="pull-left" href="#">
			<img class="media-object" data-src="holder.js/64x64" src='<%= s[:picture]-%>' style='max-height: 150px; max-width: 150px;'>
		</a>
		<div class="media-body">
			<h4 class="media-heading"><%= s[:full_name]-%></h4>
			<small><%=s[:category]%></small>
			<!-- Nested media object -->
			<% if(s[:won] == false) %>
				<div class="media">
					<small><%= s[:date] -%></small><br />
					<button class="btn btn-small btn-success" id="<%= s[:id] -%>" type="button">Grant</button>
					<br /><br />
					<label class="checkbox">
				    	<input value='<%= s[:id] -%>' type="checkbox"> Or check for group action ...
				    </label>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
<br />
<div class='paginate' style='width: 450px;'></div>
<br />
<button class="btn btn-small btn-primary check_all" type="button">Check all</button>
<button class="btn btn-small btn-success disabled accept_all" type="button">Grant checked</button>
<br /><br />

<script type="text/javascript">
	$(document).ready(function(){
		$('li#subscribers').addClass('active');
		// GENERIC !

		$('.paginate').pagination({
            items: parseInt(<%= @subscribers[:size] -%>),
            itemsOnPage: 12,
            currentPage: parseInt(<%= @subscribers[:current] -%>),
            cssStyle: 'light-theme',
            displayedPages: 3,
            onPageClick: function (page_n, e){
            	window.location.href = '/admin/winners/'+page_n
            }
        })

		$('.check_all').click(function(){
			if ($('.accept_all').hasClass('disabled')){
				$('.accept_all').removeClass('disabled');
				$('input[type=checkbox]').attr('checked', true);
			}else{
				$('.accept_all').addClass('disabled');
				$('input[type=checkbox]').attr('checked', false);
			}
		});

		$('input[type=checkbox]').on('change', function(){
			if (!$( "input:checked" ).length){$('.accept_all, .refuse_all').addClass('disabled');}
			else{$('.accept_all, .refuse_all').removeClass('disabled');}
		});

		function callAjax(state, id, callBack){
			$.ajax({
				url: '/admin/winners/grant',
				data: {'state': state, 'id': id},
				dataType: 'json',
				type: 'POST',
				complete: callBack
			});
		}

		$('.ungrant').click(function(){
			action = 'ungrant';
			$.ajax({
				url: '/admin/winners/ungrant',
				data: {'id': $(this).attr('id')},
				dataType: 'json',
				type: 'POST',
				complete: function(data){
					if (data.status == 200){
						$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
						setTimeout(function(){
							window.location.reload();
						}, 2000);
					}else{
						$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
						setTimeout(function(){
							$('.alert').slideUp('normal', function(){
								$('.alert').removeClass('alert-error');
							});
						}, 3000);
					}
				}
			});
		});
		
		$('.media .btn.btn-success').click(function(){
			action = 'win';
			callAjax(action, $(this).attr('id'), function(data){
				if (data.status == 200){
					$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
					setTimeout(function(){
						window.location.reload();
					}, 2000);
				}else{
					$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
					setTimeout(function(){
						$('.alert').slideUp('normal', function(){
							$('.alert').removeClass('alert-error');
						});
					}, 3000);
				}
			});
		});

		$('.accept_all').click(function(){
			action = 'win';
			$("input:checked").each(function(x, y){
				callAjax(action, $(y).attr('value'), function(data){
					if (data.status == 200){
						$('.alert').html('Your modifications has been done! The page will reload in a couple of seconds.').addClass('alert-success').slideDown();
						setTimeout(function(){
							window.location.reload();
						}, 2000);
					}else{
						$('.alert').html('An error occured, please contact an administrator.').addClass('alert-error').slideDown();
						setTimeout(function(){
							$('.alert').slideUp('normal', function(){
								$('.alert').removeClass('alert-error');
							});
						}, 3000);
					}
				});
			});
		});
	});
</script>
