    <div id='header'>
        <a href='javascript: void(0);'><img id='gt86logo' src='/assets/GT86-logo.png' /></a>
        <img id='toyotalogo' src='/assets/toyota-logo.png' />
    </div>
	<div id="popup1" class="fgwhite Rg">
    	<h2 class='Bd'>Participez au « Toyota GT86 Experience ! »</h2>
        <p>
        	Vous avez toujours rêvé d’essayer le coupé Toyota GT86 sur circuit? Nous vous offrons la possibilité de réaliser<br />ce rêve sur le mythique circuit du Castellet !
            <br /><br />
            Pour tenter votre chance et faire partie des 3 heureux gagnants, c’est simple, il suffit de partager avec nous<br />les plus belles photos de votre Toyota. Un jury se réunira pour désigner la plus belle photo de chaque catégorie.<br /><span class="fgblack">A vos photos !</span><br /><br />
            <div style="clear: both"></div>
        </p>
        <img id="circle-car" src="/assets/car-popup1.png" width="398" height="399" />
    </div>
    <div id="popup2" class="fgblack Rg">
		<div class='button'>
			<a href='#/form' id='upload'>
        		Participez et ajoutez vos photos
        	</a>
        </div>
        <p>Ou <a href='#/1'>visitez les galeries</a></p>
		<div style="clear: both"></div>
        <div class='categorie' style='background-image:url(/assets/categorie1.png)'>
        	<div class='label fgblack Rg'><a id='1' href='javascript: void(0);'>Ma Toyota</a></div>
        </div>
	    <div class='categorie' style='background-image:url(/assets/categorie2.png)'>
        	<div class='label fgblack Rg'><a id='2'  href='javascript: void(0);'>Détail extérieur</a></div>
        </div>
	    <div class='categorie' style='background-image:url(/assets/categorie3.png)'>
        	<div class='label fgblack Rg'><a id='3' href='javascript: void(0);'>Détail intérieur</a></div>
        </div>
        <div style="clear: both"></div>
        <center style='margin-top: 40px;'>
            <div id="dota"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/prizes'>En savoir + sur la dotation</a></div></div>
        </center>
    </div>
<div id='disclaimer' class='fgblack Rg'>
    Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a href='/jeu-concours-photos-toyota-gt-86-experience.pdf' target='_blank'>Réglement du jeu</a>
</div>
