	<div id="header">
    <a href='../#'><img class='left' src='/assets/logo_appli.png'/></a>
    <a href='../#'><img class='right' src='/assets/logo_toyota.png'/></a>
    <div class='clear'></div>
  </div>
<div id="popup1" class="fgwhite Rg">
    <h2 class="Bd">Participez au « Toyota GT86 Experience ! »</h2>
    <p>
     Vous avez toujours rêvé d’essayer le coupé Toyota GT86 sur circuit? Nous vous offrons la possibilité de réaliser ce rêve sur le mythique circuit du Castellet !
     <br><br>
     Pour tenter votre chance et faire partie des 3 heureux gagnants, c’est simple, il suffit de partager avec nous les plus belles photos de votre Toyota. Un jury se réunira pour désigner la plus belle photo de chaque catégorie.<br/>
     <span class="fgblack">A vos photos !</span><br>
     </p><div style="clear: both"></div>
   <p></p>
   <img id="circle-car" src="/assets/car-popup1.png">
 </div>
 <div id="popup2" class="fgblack Rg">
  <div class='button'>
   <a href='#/form' id='upload'>
    Participez et ajoutez vos photos
  </a>
</div>
<p><a href='#/1'>Ou visitez les galeries</a></p>
<div style="clear: both"></div>
<div style="text-align: center">
  <div class='categorie' >
   <a href='#/1'><img src="/assets/ma_toyota_mobile.png"/></a>
 </div>
 <div class='categorie' >
   <a href='#/2'><img src="/assets/detail_exterieur_mobile.png"/></a>
 </div>
 <div class='categorie' >
   <a href='#/3'><img src="/assets/detail_interieur_mobile.png"/></a>
 </div>
 <div class="clear"></div>
</div>
</div>

  <div id='disclaimer' class='fgblack Rg'>
    Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a href='/jeu-concours-photos-toyota-gt-86-experience.pdf' target='_blank'>Réglement du jeu</a>
  </div>

<!-- 

Upload</a><br />
<br />
Ma Toyota</a><br />
<a href='#/1'>Mon details</a><br />
<a href='#/2'>Elem. tech.</a><br />
-->
