<div id='header'>
    <a href='#/'><img id='gt86logo' src='/assets/GT86-logo.png' /></a>
    <img id='toyotalogo' src='/assets/toyota-logo.png' />
</div>

<div class='done fgblack Rg'>
	<center style='font-size: 16px;'>
		Désolé mais vous devez accepter les permissions de l'application pour ajouter votre photo !
	</center>
	
	<center style='margin: 30px 0 30px 0'>
		<div id="back"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='javascript: void(0);'>Relancer la demande</a></div></div>
		<div style="display: table-cell; width: 20px;"></div>
		<div id="gall"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/1'>Aller directement à la galerie</a></div></div>
	</center>
</div>

<div id='disclaimer' class='fgblack Rg'>
    Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a target='_blank' href='jeu-concours-photos-toyota-gt-86-experience.pdf'>Réglement du jeu</a>
</div>