	<div id="header">
		<a href='../#'><img class='left' src='/assets/logo_appli.png'/></a>
		<a href='../#'><img class='right' src='/assets/logo_toyota.png'/></a>
		<div class='clear'></div>
	</div>
	<div class='done fgblack Rg' style='display: none;'>
		<center>Merci,<br />
			vos photos sont en cours de modération,<br />
			vous pouvez encore ajouter:</center>
			<div class='circle-container'>
				<div class='circ fgwhite'>
					<span id='_1'><%= 3 - pictures[0]%></span>
					<span class='fgblack' style='font-size: 16px; display: block; margin-top: 15px; line-height: 16px;'>Photos<br /> Ma Toyota</span>
				</div>
				<div class='circ fgwhite'>
					<span id='_2'><%= 3 - pictures[1]%></span>
					<span class='fgblack' style='font-size: 16px; display: block; margin-top: 15px; line-height: 16px;'>Photos<br /> D&eacute;tail ext&eacute;rieur</span>
				</div>
				<div class='circ fgwhite'>
					<span id='_2'><%= 3 - pictures[2]%></span>
					<span class='fgblack' style='font-size: 16px; display: block; margin-top: 15px; line-height: 16px;'>Photos<br /> D&eacute;tail int&eacute;rieur</span>
				</div>
				<div style='clear: both'></div>
			</div>
			<% if (pictures[0] < 3 || pictures[1] < 3 || pictures[2] < 3) {%>
			<div id="add-more-link" class='fgwhite Rg'><img src="/assets/arr-right.jpg" width="16" height="22" /><a href='javascript: void(0);'>Ajoutez d'autres photos</a></div>
			<% } %>
			<div id="gallery-link" class='fgwhite Rg'><img src="/assets/arr-right.jpg" width="16" height="22" /><a href='/#/'>Acc&eacute;der &agrave; la galerie</a></div>
			<div style='clear: both'></div>
		</div>

		<div id="popup3" class="fgwhite Rg">
			<div id="top-gallery">
				<div id="dotation"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/prizes'>En savoir + sur la dotation</a></div></div>
				<div id="post"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/1'>Acc&eacute;der &agrave; la galerie</a></div></div>
			</div>
			<h2 class='Bd'>Ajoutez une photo</h2>
			<p>Pour participer, merci de remplir tous les champs:</p>
			<form action='javascript: void(0);' method='POST' enctype='multipart/form-data'>
				<input type='hidden' name='fbid' value='<%=id%>' />
				<input type='hidden' name='picture_id_1' id='picture_1' value='' />
				<input type='hidden' name='picture_id_2' id='picture_2' value='' />
				<input type='hidden' name='picture_id_3' id='picture_3' value='' />
				<input type='hidden' name='fb_username' value='<%=username%>' />

				<table class="field">
					<td class='label'>
						<label  class='fgwhite Rg' for="last_name">Nom</label>
					</td>
					<td class='input'>
						<input class='fgblack Rg' type='text' name='last_name' value='<%=last_name%>' />
					</td>
				</table>
				<table class="field">
					<td class='label'>
						<label  class='fgwhite Rg' for="first_name">Prénom</label>
					</td>
					<td class='input'>
						<input class='fgblack Rg' type='text' name='first_name' value='<%=first_name%>' />
					</td>
				</table>

				<table class="field">
					<td class='label'>
						<label  class='fgwhite Rg' for="email">Email</label>
					</td>
					<td class='input'>
						<input class='fgblack Rg' type='text' name='email' value='<%=email%>' />
					</td>
				</table>
				<table class="field">
					<td class='label'>
						<label  class='fgwhite Rg' for="address">Adresse</label>
					</td>
					<td class='input'>
						<input class='fgblack Rg' type='text' name='address' value='<%=address%>' />
					</td>
				</table>

				<table class="field">
					<td class='label'>
						<label  class='fgwhite Rg' for="zip_code">Code postal</label>
					</td>
					<td class='input'>
						<input class='fgblack Rg' type='text' name='zip_code' value='<%=zip_code%>' />
					</td>
				</table>

				<table class="field">
					<td class='label'>
						<label  class='fgwhite Rg' for="zip_code">Ville</label>
					</td>
					<td class='input'>
						<input class='fgblack Rg' type='text' name='city' value='<%=city%>' />
					</td>
				</table>
				<div style='clear: both'></div>
				<div style="text-align:center">
					<input type='checkbox' name="rules" id="rules" /><label for='rules' class='checkbox-text fgwhite Rg'>&nbsp;J'ai lu, compris et accepte le <a href='/jeu-concours-photos-toyota-gt-86-experience.pdf' target='_blank'>règlement</a></label>
				</div>
			</form>
			<div style='clear: both'></div>
			<img id="arrow" src="/assets/arr-down.png" width="81" height="81" />
		</div>
		<div id="popup4" class="fgwhite Rg">
			<p>Ajoutez une photo en choisissant la catégorie qui lui correspond:</p>

			<div style="text-align: center">

				<div class='categorie' >
					<img src="/assets/ma_toyota_mobile.png"/>
					<p class='fgblack Rg'>Votre Toyota est la plus belle? Offrez-nous une photo en plan large imprenable de votre bijou.</p>
					<% if (pictures[0] < 3) {%>
					<input class="uploader" id='picture_id_1' name="file_upload1" type="file" multiple="false">
					<div id="queue1" style='margin-top: 52px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 2px; display: block;'></div>
					<% }else{ %>
					<div id="queue1" style='font-size: 13px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 5px; display: block;'>3 photos ont d&eacute;j&agrave; &eacute;t&eacute; import&eacute;es.</div>
					<% } %>
				</div>
				<div class='categorie' >
					<img src="/assets/detail_exterieur_mobile.png"/>
					<p class='fgblack Rg'>Tout est une question de détails n'est-ce pas ? Alors prouvez-le en nous offrant LE détail de votre Toyota.</p>
					<% if (pictures[1] < 3) {%>
					<input class="uploader" id='picture_id_2' name="file_upload2" type="file" multiple="false">
					<div id="queue2" style='margin-top: 36px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 2px; display: block;'></div>
					<% }else{ %>
					<div id="queue2" style='padding-top: 7px; font-size: 13px; margin-top: 33px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 5px; display: block;'>3 photos ont d&eacute;j&agrave; &eacute;t&eacute; import&eacute;es.</div>
					<% } %>
				</div>
				<div class='categorie' >
					<img src="/assets/detail_interieur_mobile.png"/>
					<p class='fgblack Rg'>Il n'y a pas que le physique dans la vie, l'intérieur compte aussi, moteur, boite à gants ou coffre, montrez nous tout votre intérieur</p>
					<% if (pictures[2] < 3) {%>
					<input class="uploader" id='picture_id_3' name="file_upload3" type="file" multiple="false">
					<div id="queue3" style='margin-top: 18px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 2px;'></div>
					<% }else{ %>
					<div id="queue3" style='padding-top: 7px; font-size: 13px; margin-top: 14px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 5px; display: block;'>3 photos ont d&eacute;j&agrave; &eacute;t&eacute; import&eacute;es.</div>
					<% } %>
				</div>
				<div style="clear: both"></div>
				<div id='error' style='font-size: 14px; display: none;'></div>
				<% if (pictures[1] < 3 || pictures[2] < 3 || pictures[0] < 3) {%>
				<div class='button fgblack Rg'>
					Valider
				</div>
				<% } %>
				<br/>
				<br/>
				<a href='#/'>retour</a>
			</div>
		</div>
		<div id='disclaimer' class='fgblack Rg'>
			Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a target='_blank' href='/jeu-concours-photos-toyota-gt-86-experience.pdf'>Réglement du jeu</a>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){

				function everythingIsFine(f){
					var st = true;
					if (f.find("input[name='first_name']").val() == ""){
						st = false;
						f.find("input[name='first_name']").css('border', '1px solid #ff0000');
					}else{
						f.find("input[name='first_name']").css('border', '0');
					}
					if (f.find("input[name='last_name']").val() == ""){
						st = false;
						f.find("input[name='last_name']").css('border', '1px solid #ff0000');
					}else{
						f.find("input[name='last_name']").css('border', '0');
					}
					if (f.find("input[name='email']").val() == ""){
						st = false;
						f.find("input[name='email']").css('border', '1px solid #ff0000');
					}else{
						f.find("input[name='email']").css('border', '0');
					}
					if (f.find("input[name='address']").val() == ""){
						st = false;
						f.find("input[name='address']").css('border', '1px solid #ff0000');
					}else{
						f.find("input[name='address']").css('border', '0');
					}
					if (f.find("input[name='zip_code']").val() == ""){
						st = false;
						f.find("input[name='zip_code']").css('border', '1px solid #ff0000');
					}else{
						f.find("input[name='zip_code']").css('border', '0');
					}
					if (f.find("input[name='city']").val() == ""){
						st = false;
						f.find("input[name='city']").css('border', '1px solid #ff0000');
					}else{
						f.find("input[name='city']").css('border', '0');
					}
					if (f.find("input[name='rules']:checked").length==0){
						st = false;
						$('.checkbox-text').css('color', '#ff0000');
					}else{
						$('.checkbox-text').css('color', '#ffffff');
					}

					if (f.find("input[name='picture_id_1']").val() == "" &&
						f.find("input[name='picture_id_2']").val() == "" &&
						f.find("input[name='picture_id_3']").val() == "")
						st = false;
					return(st);
				}

				$('.button').click(function(e){
					if (everythingIsFine($('form'))){
						$.ajax({
							url: '/subscribes/form',
							data: $('form').serialize(),
							dataType: 'json',
							type: 'POST',
							success: function(response){
								$('#_1').html(parseInt($('#_1').html()) - ($("input[name='picture_id_1']").val()!="" ? 1 : 0));
								$('#_2').html(parseInt($('#_2').html()) - ($("input[name='picture_id_2']").val()!="" ? 1 : 0));
								$('#_3').html(parseInt($('#_3').html()) - ($("input[name='picture_id_3']").val()!="" ? 1 : 0));
								if (parseInt($('#_3').html()) +  parseInt($('#_2').html()) + parseInt($('#_1').html())== 0){
									$('.done center').html("Vous ne pouvez plus uploader de photo");
									$('.circle-container').html("<center style='font-size: 14px; color: #ff7f00'>La limite de 3 photos par catégorie a été atteinte.</center>");
									$('#add-more-link').hide();
								}
								$('#popup4, #popup3').fadeOut('fast', function(){
									$('.done').fadeIn('fast');
								});
							}
						});
					}else{
						$('#error').html('Merci de remplir tous les champs, ainsi qu\'uploader au mois une photo.').slideDown('fast');
					}
				});


			$('#picture_id_3').uploadifive({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'buttonText' 	   : '<img src="/assets/file.png" />',
				'queueID'          : 'queue3',
				'itemTemplate' : '<div class="uploadifive-queue-item"><span class="fileinfo"></span><div class="close"></div><div class="progress-bar"></div></div>',
				'uploadScript'     : '/subscribes.json',
				'onUploadComplete' : function(file, data) {
					$("input[name='"+$(this).attr('id')+"']").val(JSON.parse(data).file_id);
					$('#uploadifive-picture_id_3').fadeOut('fast', function(){
						$('#queue3').html('Image uploadée!').fadeIn('fast');
					});
				}
			});

			$('#picture_id_2').uploadifive({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'buttonText' 	   : '<img src="/assets/file.png" />',
				'queueID'          : 'queue2',
				'itemTemplate' : '<div class="uploadifive-queue-item"><span class="fileinfo"></span><div class="close"></div><div class="progress-bar"></div></div>',
				'uploadScript'     : '/subscribes.json',
				'onUploadComplete' : function(file, data) {
					$("input[name='"+$(this).attr('id')+"']").val(JSON.parse(data).file_id);
					$('#uploadifive-picture_id_2').fadeOut('fast', function(){
						$('#queue2').html('Image uploadée!').fadeIn('fast');
					});
				}
			});

			$('#picture_id_1').uploadifive({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'buttonText' 	   : '<img src="/assets/file.png" />',
				'itemTemplate' : '<div class="uploadifive-queue-item"><span class="fileinfo"></span><div class="close"></div><div class="progress-bar"></div></div>',
				'queueID'          : 'queue1',
				'uploadScript'     : '/subscribes.json',
				'onUploadComplete' : function(file, data) {
					$("input[name='"+$(this).attr('id')+"']").val(JSON.parse(data).file_id);
					$('#uploadifive-picture_id_1').fadeOut('fast', function(){
						$('#queue1').html('Image uploadée!').fadeIn('fast');
					});
				}
			});
		});
</script>