<div style='min-height: 100%'>
	<div id='header'>
		<a href='javascript: void(0);'><img id='gt86logo' src='/assets/GT86-logo.png' /></a>
		<img id='toyotalogo' src='/assets/toyota-logo.png' />
	</div>

	<div class='done fgblack Rg' style='display: none;'>
		<center>Merci,<br />vos photos sont en cours de mod&eacute;ration,<br />vous pouvez encore ajouter:</center>
		<div class='circle-container'>
			<div class='circ fgwhite'>
				<span id='_1'><%= 3 - pictures[0]%></span>
				<span class='fgblack' style='font-size: 16px; display: block; margin-top: 15px; line-height: 16px;'>Photos<br /> Ma Toyota</span>
			</div>
			<div class='circ fgwhite'>
				<span id='_2'><%= 3 - pictures[1]%></span>
				<span class='fgblack' style='font-size: 16px; display: block; margin-top: 15px; line-height: 16px;'>Photos<br /> D&eacute;tail ext&eacute;rieur</span>
			</div>
			<div class='circ fgwhite'>
				<span id='_3'><%= 3 - pictures[2]%></span>
				<span class='fgblack' style='font-size: 16px; display: block; margin-top: 15px; line-height: 16px;'>Photos<br /> D&eacute;tail int&eacute;rieur</span>
			</div>
			<div style='clear: both'></div>
		</div>
		<div id="add-more-link"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='javascript: void(0);'>Ajouter d'autres photos</a></div></div>
		<div id="gallery-link"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='javascript: void(0);'>Acc&eacute;der &agrave; la galerie</a></div></div>
		<div style='clear: both'></div>
	</div>

	<div id="popup3" class="fgwhite Rg">
		<div id="back"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='javascript: void(0);'>Retour à l'accueil</a></div></div>
		<div id="dota"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='javascript: void(0);'>En savoir + sur la dotation</a></div></div>
		<h2 class='Bd'>Ajoutez une photo</h2>
		<p>Pour participer, merci de remplir tous les champs:</p>
		<form action='javascript: void(0);' method='POST' enctype='multipart/form-data'>
			<input type='hidden' name='fbid' value='<%=id%>' />
			<input type='hidden' name='picture_id_1' id='picture_1' value='' />
			<input type='hidden' name='picture_id_2' id='picture_2' value='' />
			<input type='hidden' name='picture_id_3' id='picture_3' value='' />
			<input type='hidden' name='fb_username' value='<%=username%>' />
			<div class='row_form'>
				<div class='fgwhite Rg'>Nom</div> <input class='fgblack Rg' type='text' name='last_name' value='<%=last_name%>' />
			</div>
			<div class='row_form'>
				<div class='fgwhite Rg'>Prénom</div> <input class='fgblack Rg' type='text' name='first_name' value='<%=first_name%>' />
			</div>
			<div class='row_form'>
				<div class='fgwhite Rg'>Email</div> <input class='fgblack Rg' type='text' value='<%=email%>' name='email' />
			</div>
			<div class='row_form'>
				<div class='fgwhite Rg'>Adresse</div> <input class='fgblack Rg' type='text' value='<%=address%>' name='address' />
			</div>
			<div class='row_form'>
				<div class='fgwhite Rg'>Code postal</div> <input class='fgblack Rg' type='text' value='<%=zip_code%>'name='zip_code' />
			</div>
			<div class='row_form'>
				<div class='fgwhite Rg'>Ville</div> <input value='<%=city%>' class='fgblack Rg' type='text' name='city' />
			</div>
			<div style='clear: both'></div>
			<div class='row_form'>
				<input type='checkbox' name="rules" <%=rules%> /><div class='checkbox-text fgwhite Rg'>J'ai lu, compris et accepte le <a target='_blank' href='/jeu-concours-photos-toyota-gt-86-experience.pdf'>règlement</a></div>
			</div>
		</form>
		<div style='clear: both'></div>
		<img src="/assets/arr-down.png" width="81" height="81" />
	</div>
	<div id="popup4" class="fgwhite Rg">
		<p>Ajoutez une photo en choisissant la catégorie qui lui correspond:</p>
		<div style="clear: both"></div>
		<div class='categorie' style='background-image:url(/assets/categorie1.png)'>
			<div class='label fgblack Rg'>Ma Toyota</div>
			<p class='fgblack Rg'>Votre Toyota est la plus belle ? Partagez avec nous votre photo préférée.</p>
			<% if (pictures[0] < 3) {%>
			<input class="uploader" id='picture_id_1' name="file_upload1" type="file" multiple="false">
			<div id="queue1" style='display: block;'></div>
			<% }else{ %>
			<div id="queue1" style='font-size: 13px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 5px; display: block;'>3 photos ont d&eacute;j&agrave; &eacute;t&eacute; import&eacute;es.</div>
			<% } %>
		</div>
		<div class='categorie' style='background-image:url(/assets/categorie2.png)'>
			<div class='label fgblack Rg'>Détail extérieur</div>
			<p class='fgblack Rg'>Tout est une question de détails, non ? Montrez-nous ici l’équipement ou l’angle qui vous fait le plus craquer !</p>
			<% if (pictures[1] < 3) {%>
			<input class="uploader" id='picture_id_2' name="file_upload2" type="file" multiple="false">
			<div id="queue2" style='display: block;'></div>
			<% }else{ %>
			<div id="queue2" style='padding-top: 7px; font-size: 13px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 5px; display: block;'>3 photos ont d&eacute;j&agrave; &eacute;t&eacute; import&eacute;es.</div>
			<% } %>
		</div>
		<div class='categorie' style='background-image:url(/assets/categorie3.png)'>
			<div class='label fgblack Rg'>Détail intérieur</div>
			<p class='fgblack Rg'>Il n'y a pas que le physique dans<br />la vie, l'intérieur compte aussi, moteur, boite à gants ou coffre, montrez nous tout votre intérieur.</p>
			<% if (pictures[2] < 3) {%>
			<input class="uploader" id='picture_id_3' name="file_upload3" type="file" multiple="false">
			<div id="queue3" style='display: block;'></div>
			<% }else{ %>
			<div id="queue3" style='padding-top: 7px; font-size: 13px; margin-left: 5px; background-color: #000; background-position: initial initial; background-repeat: initial initial;height: 30px;padding-top: 5px; display: block;'>3 photos ont d&eacute;j&agrave; &eacute;t&eacute; import&eacute;es.</div>
			<% } %>
		</div>
		<div style="clear: both">

		</div>
		<div id='error' style='font-size: 14px; display: none; margin-bottom: -10px'></div>
		<% if (pictures[1] < 3 || pictures[2] < 3 || pictures[0] < 3) {%>
		<div class='button fgblack Rg'>
			Valider
		</div>
		<% }else{ %>
		<div id="dota-bot"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='javascript: void(0);'>Voir la galerie</a></div></div>
		<% } %>
	</div>
	<div id='disclaimer' class='fgblack Rg'>
		Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a target='_blank' href='/jeu-concours-photos-toyota-gt-86-experience.pdf'>Réglement du jeu</a>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		function everythingIsFine(f){
			var st = true;
			if (f.find("input[name='first_name']").val() == ""){
				st = false;
				f.find("input[name='first_name']").css('border', '1px solid #ff0000');
			}else{
				f.find("input[name='first_name']").css('border', '0');
			}
			if (f.find("input[name='last_name']").val() == ""){
				st = false;
				f.find("input[name='last_name']").css('border', '1px solid #ff0000');
			}else{
				f.find("input[name='last_name']").css('border', '0');
			}
			if (f.find("input[name='email']").val() == ""){
				st = false;
				f.find("input[name='email']").css('border', '1px solid #ff0000');
			}else{
				f.find("input[name='email']").css('border', '0');
			}
			if (f.find("input[name='address']").val() == ""){
				st = false;
				f.find("input[name='address']").css('border', '1px solid #ff0000');
			}else{
				f.find("input[name='address']").css('border', '0');
			}
			if (f.find("input[name='zip_code']").val() == ""){
				st = false;
				f.find("input[name='zip_code']").css('border', '1px solid #ff0000');
			}else{
				f.find("input[name='zip_code']").css('border', '0');
			}
			if (f.find("input[name='city']").val() == ""){
				st = false;
				f.find("input[name='city']").css('border', '1px solid #ff0000');
			}else{
				f.find("input[name='city']").css('border', '0');
			}

			if (f.find("input[name='picture_id_1']").val() == "" &&
				f.find("input[name='picture_id_2']").val() == "" &&
				f.find("input[name='picture_id_3']").val() == "")
				st = false;

			if (!f.find("input[name='rules']").is(':checked'))
				st = false;

			return(st);
		}

		$('.button').click(function(e){
			if (everythingIsFine($('form'))){
				$.ajax({
					url: '/subscribes/form',
					data: $('form').serialize(),
					dataType: 'json',
					type: 'POST',
					success: function(response){
						$('#_1').html(parseInt($('#_1').html()) - ($("input[name='picture_id_1']").val()!="" ? 1 : 0));
						$('#_2').html(parseInt($('#_2').html()) - ($("input[name='picture_id_2']").val()!="" ? 1 : 0));
						$('#_3').html(parseInt($('#_3').html()) - ($("input[name='picture_id_3']").val()!="" ? 1 : 0));
						
						if (parseInt($('#_3').html()) +  parseInt($('#_2').html()) + parseInt($('#_1').html())== 0){
							$('.done center').html("Vous ne pouvez plus uploader de photo");
							$('.circle-container').html("<center style='font-size: 14px; color: #ff7f00'>La limite de 3 photos par catégorie a été atteinte.</center>");
							$('#add-more-link').hide();
							$('#gallery-link').css('margin-right', '255px');
						}
						$('#popup4, #popup3').fadeOut('fast', function(){
							FB.Canvas.scrollTo(0,0);
							$('.done').fadeIn('fast');
						});
					}
				});
			}else{
				$('#error').html('Merci de remplir tous les champs et d\'ajouter au moins 1 photo').slideDown('fast');
			}
		});

		if($('.body').first().hasClass('ie10')){
			$("#picture_id_1").uploadify({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'swf'              : '/assets/uploadify.swf',
				'buttonImage' 	   : '/assets/file.png',
				'buttonText' 	   : 'Choisir un fichier',
				'queueID'          : 'queue1',
				'uploader'     : '/subscribes.json',
				'onUploadSuccess' : function(file, data, response) {
		            $('#queue1').fadeOut('fast');
		            $("input[name='picture_id_1']").val(JSON.parse(data).file_id);
					$('#picture_id_1-button').fadeOut('fast', function(){
						$('#queue1').html('Image upload&eacute;e!').addClass('uploadify-markup').fadeIn('fast');
					});
		        } 
			}); // browser has failed the test, lets use Uploadify instead
			$("#picture_id_2").uploadify({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'swf'              : '/assets/uploadify.swf',
				'buttonImage' 	   : '/assets/file.png',
				'buttonText' 	   : 'Choisir un fichier',
				'queueID'          : 'queue2',
				'uploader'     : '/subscribes.json',
				'onUploadSuccess' : function(file, data, response) {
		            $('#queue2').fadeOut('fast');
		            $("input[name='picture_id_2']").val(JSON.parse(data).file_id);
					$('#picture_id_2-button').fadeOut('fast', function(){
						$('#queue2').html('Image upload&eacute;e!').addClass('uploadify-markup').fadeIn('fast');
					});
		        } 
							}); // browser has failed the test, lets use Uploadify instead
			$("#picture_id_3").uploadify({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'swf'              : '/assets/uploadify.swf',
				'buttonImage' 	   : '/assets/file.png',
				'buttonText' 	   : 'Choisir un fichier',
				'queueID'          : 'queue3',
				'uploader'     : '/subscribes.json',
				'onUploadSuccess' : function(file, data, response) {
		            $('#queue3').fadeOut('fast');
		            $("input[name='picture_id_3']").val(JSON.parse(data).file_id);
					$('#picture_id_3-button').fadeOut('fast', function(){
						$('#queue3').html('Image upload&eacute;e!').addClass('uploadify-markup').fadeIn('fast');
					});
		        } 
			}); // browser has failed the test, lets use Uploadify instead
		}else{
			$('#picture_id_3').uploadifive({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'buttonText' 	   : '<img src="/assets/file.png" />',
				'queueID'          : 'queue3',
				'uploadScript'     : '/subscribes.json',
				'onUploadComplete' : function(file, data) {
					$('#queue3').fadeOut('fast');
					$("input[name='"+$(this).attr('id')+"']").val(JSON.parse(data).file_id);
					$('#uploadifive-picture_id_3').fadeOut('fast', function(){
						$('#queue3').html('Image upload&eacute;e!').addClass('uploadifive-markup').fadeIn('fast');
					});
				}
			});

			$('#picture_id_2').uploadifive({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'buttonText' 	   : '<img src="/assets/file.png" />',
				'queueID'          : 'queue2',
				'uploadScript'     : '/subscribes.json',
				'onUploadComplete' : function(file, data) {
					$('#queue2').fadeOut('fast');
					$("input[name='"+$(this).attr('id')+"']").val(JSON.parse(data).file_id);
					$('#uploadifive-picture_id_2').fadeOut('fast', function(){
						$('#queue2').html('Image upload&eacute;e!').addClass('uploadifive-markup').fadeIn('fast');
					});
				}
			});

			$('#picture_id_1').uploadifive({
				'auto'             : true,
				'multi'			   : false,
				'width'			   : 226,
				'height'		   : 43,
				'buttonText' 	   : '<img src="/assets/file.png" />',
				'queueID'          : 'queue1',
				'uploadScript'     : '/subscribes.json',
				'onUploadComplete' : function(file, data) {
					$('#queue1').fadeOut('fast');
					$("input[name='"+$(this).attr('id')+"']").val(JSON.parse(data).file_id);
					$('#uploadifive-picture_id_1').fadeOut('fast', function(){
						$('#queue1').html('Image upload&eacute;e!').addClass('uploadifive-markup').fadeIn('fast');
					});
				}
			});
		}
	});
</script>
