<div id='header'>
    <a href='#/'><img id='gt86logo' src='/assets/GT86-logo.png' /></a>
    <img id='toyotalogo' src='/assets/toyota-logo.png' />
</div>
<div class="popup5" id="popup5" class="fgwhite Rg">
	<div id="top-gallery">
      	<div id="dotation"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/prizes'>En savoir + sur la dotation</a></div></div>
		<div style="display: table-cell; width: 20px;"></div>
		<div id="post"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/form'>Déposer une photo</a></div></div>
    </div>
    <div style="clear: both"></div>

    <div id='1' class='label fgblack Rg' style="margin-left: 30px;"><a href='#/1'>Ma Toyota</a></div>
    <div id='2' class='label fgblack Rg'><a href='#/2'>Détail extérieur</a></div>
    <div id='3' class='label fgblack Rg'><a href='#/3'>Détail intérieur</a></div>

    <div style="clear: both"></div>

    <div id="gallery">
        <div id='photos' style='height: 739px;'></div>
        <div style="clear: both; padding-top: 50px; font-size: 14px;" class='fgblack Rg'>
    	   <div id='paginate' class='fgblack Rg'></div>
           <div style='text-align: right; margin-top: -25px;'>
               <a href='http://www.toyota.fr/cars/new_cars/gt86/index.tmex?WT.tsrc=facebook&WT.mc_id=jeu_gt86_facebook&WT.adsite=facebook_bouton_redirection_site_bouton' target='_blank' id='know_more'>En savoir + sur GT86</a>
           </div>
        </div>
    </div>
</div>

<div id='disclaimer' class='fgblack Rg'>
    Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a href='/jeu-concours-photos-toyota-gt-86-experience.pdf' target='_blank'>Réglement du jeu</a>
</div>

<script type='text/javascript'>
    $(document).ready(function(){
        $('.label#<%=gallery%>').addClass('active')
    });
</script>