	<div id="header">
    <a href='../#'><img class='left' src='/assets/logo_appli.png'/></a>
    <a href='../#'><img class='right' src='/assets/logo_toyota.png'/></a>
    <div class='clear'></div>
  </div>
	<div class="popup5" id="popup5" class="fgwhite Rg">
        <div id="top-gallery">
            <div id="dotation"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/prizes'>En savoir + sur la dotation</a></div></div>
            <div id="post"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/form'>Déposer une photo</a></div></div>
        </div>
		<div style="clear: both"></div>

		<div id='1' class='label fgblack Rg'><a href='#/1'>Ma Toyota</a></div>
		<div id='2' class='label fgblack Rg'><a href='#/2'>Détail extérieur</a></div>
		<div id='3' class='label fgblack Rg'><a href='#/3'>Détail intérieur</a></div>

		<div style="clear: both"></div>

		<div id="gallery">
			<div id='photos' style='height: 739px;'></div>
			<div style="clear: both; padding-top: 50px; font-size: 14px;" class='fgblack Rg'>
				<center><div id='paginate' class='fgblack Rg' style='display: table-cell;'></div></center>
			</div>
		</div>
	</div>

	<div id='disclaimer' class='fgblack Rg'>
		Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a href='/jeu-concours-photos-toyota-gt-86-experience.pdf' target='_blank'>Réglement du jeu</a>
	</div>

	<script type='text/javascript'>
		setInterval(function(){
			var w = $('.thumbcover').width();
			$('.thumbcover').css({'height':w+'px'});
			$('.thumbcover img').each(function() {
				$(this).css('margin-top', (w-$(this).height())/2+'px');
			})
		},1000);
	</script>