<div>
	<img src="<%=picture%>" style='max-height: 480px; max-width: 480px;'/>
	<div style='clear: both'></div>
	<img src="<%=profile_picture%>" style='float: left; max-height: 40px; width:auto' /><br />
	<div style='float: left; margin-left: 10px;' class='Rg fgblack'><%=full_name%></div>
	<div style='clear: both'></div>
</div>