    <div id="header">
    <a href='../#'><img class='left' src='/assets/logo_appli.png'/></a>
    <a href='../#'><img class='right' src='/assets/logo_toyota.png'/></a>
    <div class='clear'></div>
  </div>

    <div class='popup5' id="popup5" class="fgwhite Rg">
        <div id="top-gallery">
            <div id="dotation"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/1'>Voir la galerie</a></div></div>
            <div id="post"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/form'>Déposer une photo</a></div></div>
        </div>
        <div style="clear: both"></div>
        <center class='fgwhite Rg' style='font-weight:1.4em; margin:10px'>Dotation : une journée sur circuit au volant du Coupé Toyota GT86</center>
        <img src='/assets/prizes.png' style="width:70%; margin:10px auto;"/>
        <div id='text' class='fgwhite Rg'>
            Résolument axée sur le conducteur et sur l’essence même du plaisir de pilotage, le coupé GT86 est un appel à tous ceux pour qui la conduite rime avec sportivité !<br /><span class='fgblack'>Prenez le volant de ce coupé Toyota d'exception et découvrez les joies du pilotage.</span> Pour parfaire votre technique et vous aiguiller, un instructeur professionnel sera en permanence à vos côtés. Vous enchaînerez les séries de tours jusqu’à maîtriser les 200 chevaux de la bête!
        </div>
    </div>

    <div id='disclaimer' class='fgblack Rg'>
        Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a href='/jeu-concours-photos-toyota-gt-86-experience.pdf' target='_blank'>Réglement du jeu</a>
    </div>