<div id='header'>
    <a href='javascript: void(0);'><img id='gt86logo' src='/assets/GT86-logo.png' /></a>
    <img id='toyotalogo' src='/assets/toyota-logo.png' />
</div>

<div class='popup5' id="popup5-bis" class="fgwhite Rg">
	<div id="top-gallery">
      	<div id="dotation"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/1'>Voir la galerie</a></div></div>
		<div style="display: table-cell; width: 20px;"></div>
		<div id="post"><img src="/assets/arr-right.jpg" width="16" height="22" /><div class='fgwhite Rg'><a href='#/form'>Déposer une photo</a></div></div>
    </div>
    <div style="clear: both"></div>
    <center class='fgwhite Rg'>Dotation : Une journée sur circuit au volant du Coupé Toyota GT86</center>
    <div id='container-prizes'>
        <img src='/assets/car-popup1.png' id='main-img' />
        <img src='/assets/categorie3.png' id='small-img' />
    </div>
    <div id='text' class='fgwhite Rg'>
        Résolument axée sur le conducteur et sur l’essence même du plaisir de pilotage, le coupé GT86 est un appel à tous ceux pour qui la conduite rime avec sportivité !<br /><span class='fgblack'>Prenez le volant de ce coupé Toyota d'exception et découvrez les joies du pilotage.</span> Pour parfaire votre technique et vous aiguiller, un instructeur professionnel sera en permanence à vos côtés. Vous enchaînerez les séries de tours jusqu’à maîtriser les 200 chevaux de la bête!
    </div>
    <div style='clear: both; text-align: right; margin-right: 30px;' class='fgblack Rg'>
        <a href="http://www.toyota.fr/cars/new_cars/gt86/index.tmex?WT.tsrc=facebook&amp;WT.mc_id=jeu_gt86_facebook&amp;WT.adsite=facebook_bouton_redirection_site_bouton" target="_blank">En savoir + sur GT86</a>
    </div>
</div>

<div id='disclaimer' class='fgblack Rg'>
    Ce jeu n’est pas géré ou parrainé par Facebook. Les informations que vous communiquez sont fournies à Toyota et non à Facebook. Les informations que vous fournissez ne seront utilisées que dans le cadre de ce jeu. <a target='_blank' href='/jeu-concours-photos-toyota-gt-86-experience.pdf'>Réglement du jeu</a>
</div>