@charset "utf-8";
/* CSS Document */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'ToyotaDisplay_Bd';
	src: url('/assets/ToyotaDisplay_Bd.eot');
	src: url('/assets/ToyotaDisplay_Bd.eot') format('embedded-opentype'),
	url('/assets/ToyotaDisplay_Bd.woff') format('woff'),
	url('/assets/ToyotaDisplay_Bd.ttf') format('truetype'),
	url('/assets/ToyotaDisplay_Bd.svg#ToyotaDisplay_Bd') format('svg');
}

.Bd {font-family: 'ToyotaDisplay_Bd';}

@font-face {
	font-family: 'ToyotaDisplay_Rg';
	src: url('/assets/ToyotaDisplay_Rg.eot');
	src: url('/assets/ToyotaDisplay_Rg.eot') format('embedded-opentype'),
	url('/assets/ToyotaDisplay_Rg.woff') format('woff'),
	url('/assets/ToyotaDisplay_Rg.ttf') format('truetype'),
	url('/assets/ToyotaDisplay_Rg.svg#ToyotaDisplay_Rg') format('svg');
}
a, a:visited{color: #000; text-decoration: none;}
.Rg {font-family: 'ToyotaDisplay_Rg';}

.clear {clear:both;}
.left {float:left;}
.right {float:right;}

body {
	margin: 0;
	padding: 0;
	background: #000 url(/assets/bg_mobile.jpg) no-repeat center 0;
	background-size: cover;
}

.fgwhite{color: #fff}
.fgblack{color: #000}

#header img.left{ width: 35%; margin: 5px;}
#header img.right{ width: 12%; margin: 5px;}

#popup1{
	
	margin: auto;
	width: 90%;
	padding: 10px;
	background: -moz-linear-gradient(top,  rgba(235,99,14,0.93) 0%, rgba(240,123,3,0.93) 50%, rgba(235,99,14,0.93) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,99,14,0.93)), color-stop(50%,rgba(240,123,3,0.93)), color-stop(100%,rgba(235,99,14,0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeb630e', endColorstr='#edeb630e',GradientType=0 ); /* IE6-9 */
	font-size: 18px;
	text-align: center;
	margin-top: 0em;
}
#popup2 h2{font-size: 1.1em}
#popup2 p a, #popup2 p a:visited{color: #FFF; text-decoration: none;}

img#circle-car{width: 50%; margin: auto;margin-bottom: -35%; display: block;}

#popup2{
	margin: auto;
	width: 90%;
	padding: 10px;
	padding-top: 20%;
	margin-top: 15%;
	background: -moz-linear-gradient(top,  rgba(235,99,14,0.93) 0%, rgba(240,123,3,0.93) 50%, rgba(235,99,14,0.93) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,99,14,0.93)), color-stop(50%,rgba(240,123,3,0.93)), color-stop(100%,rgba(235,99,14,0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeb630e', endColorstr='#edeb630e',GradientType=0 ); /* IE6-9 */
	font-size: 18px;
}

#popup2 p{margin: 25px; text-align: center;}

div.button{
	padding: 10px 40px;
	font-size: 20px;
	background: #fff;
	display: inline-block;
	cursor: pointer;
	-moz-box-shadow: 0px 5px 5px #b85d06; 
	-webkit-box-shadow: 0px 5px 5px #b85d06; 
	box-shadow:0px 5px 5px #b85d06;
}

div.button a:link, div.button a:active, div.button a:hover, div.button a:visited{
	color: #000;
	text-decoration: none;
}

#popup2 div.button{
	margin-top: 20px;
	display: block;
	width: 80%;
	text-align: center;
	margin: auto;
	max-width: 600px;
}

.categorie{display: inline-block; width: 32%;}
.categorie img{width: 100%}
.label{
	font-size: 14px;
}

.label a:link, .label a:visited, .label a:active, .label a:hover{color: #000; text-decoration: none;}
#popup3 #arrow{position: relative;display: block;margin: 0 auto;top: 70px;margin-top: -60px;}
#popup3 h2, #popup3 p{text-align: center;}

#popup2 .categorie .label{cursor: pointer;}
#popup2 .categorie .label a:link, #popup2 .categorie .label a:active, #popup2 .categorie .label a:visited, #popup2 .categorie .label a:hover{
	color: #000; text-decoration: none;
}

#popup3{
	margin: auto;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
	background: -moz-linear-gradient(top,  rgba(235,99,14,0.93) 0%, rgba(240,123,3,0.93) 50%, rgba(235,99,14,0.93) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,99,14,0.93)), color-stop(50%,rgba(240,123,3,0.93)), color-stop(100%,rgba(235,99,14,0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeb630e', endColorstr='#edeb630e',GradientType=0 ); /* IE6-9 */
	font-size: 18px;
	padding-bottom: 20px;
}

#popup4{
	text-align: center;
	margin: auto;
	width: 90%;
	padding: 10px;
	margin-top: 10px;
	background: -moz-linear-gradient(top,  rgba(235,99,14,0.93) 0%, rgba(240,123,3,0.93) 50%, rgba(235,99,14,0.93) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,99,14,0.93)), color-stop(50%,rgba(240,123,3,0.93)), color-stop(100%,rgba(235,99,14,0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeb630e', endColorstr='#edeb630e',GradientType=0 ); /* IE6-9 */
	font-size: 18px;
	margin-top: 20px;
}

#popup3 h2{margin: 10px 0 0 0; padding: 0;}

#popup3 p{margin: 7px; padding: 0; font-size: 14px;}

.row_form{
	float: right;
	margin-right: 224px;
	margin-top: 0;
	height: 40px;
	width: 320px;
}

.row_form div{
	font-size: 14px;
	float: left;
	margin-top: 10px;
}


form .field .label {width: 70px;display: inline-table;}
form .field .input, form .field .input input{width: 100%;}

#loading_ressources{
	position: absolute;
	height: 388px;
	width: 770px;

}
.row_form input[type=text]{padding: 0 10px; float: right; width: 206px; height: 20px; background: #fff; border: 0px; margin-left: 10px; font-size: 12px; margin-top: 10px;}
.row_form input[type=checkbox] {float: left; margin-top: 12px; margin-right: 10px;}

.uploadifive-button{background: none !important;border: none !important;width: 100% !important;border-radius: 0 !important;}

#popup4 .categorie p{font-size: 14px;font-size: 12px;height: 6em;margin-top: 0px;}
#queue1, #queue2, #queue3 { 
	margin-bottom: 10px;
	margin-left:0px !important;
	margin-top: 33px !important;
	position: relative;
	top: -20px;
	background: none !important;
	color: #FFF !important;
}
#popup4 .categorie {overflow: hidden;}
@media only screen and (min-width: 0px) and (max-width: 620px) {
	#popup4 .categorie {display: block;width: 90%;margin: 0 auto;}
	#popup4 .categorie p{font-size: 14px;height: auto;}
	#popup4 .categorie img{max-width: 200px;}
}
/*#popup4 .categorie{
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	cursor: pointer;
	height: 205px;
	position: relative;
	}*/

	#popup4 div.button{margin-top: 20px;}

	#dotation{
		background: #000;
		display: inline-block;
		padding: 5px 30px 5px 15px;
	}

	#dotation div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

	 #post{
		background: #000;
		display: inline-block;
		padding: 5px 30px 5px 15px;
		margin-top: 10px;
	}

	 #post a:link,  #post a:visited,  #post a:active,  #post a:hover{
		color: #fff;
		text-decoration: none;
	}

#dotation a:link, #dotation a:visited,#dotation a:active, #dotation a:hover{
		color: #fff;
		text-decoration: none;
	}
#top-gallery{text-align: center}
	 #post div{vertical-align: center; margin-top: 2px; font-size: 14px; margin-left: 10px; float: right;}
	#popup5 .label{}

	.done{
		background: #fff;
		margin: auto;
		padding: 10px 0;
		width: 90%;
		margin: 0 auto;
	}

	.done center{font-size: 23px;}

	.done .circle-container{
		text-align: center;
		margin: auto;
	}

	.done .circ{
		width: 115px;
		height: 120px;
		background: url(/assets/circle.jpg);
		font-size: 56px;
		text-align: center;
		margin: 17px 5px;
		padding-top: 10px;
		background-repeat: no-repeat;
		background-position: center 0;
		display: inline-block;
	}

	.done a:link, .done a:visited, .done a:hover{color: #fff; text-decoration: none;}

	.done #add-more-link img, .done #gallery-link img, .done #add-more-link div, .done #gallery-link div{ margin: 0 5px;position: relative; top: 3px;}
	.done #add-more-link, .done #gallery-link{
		background: #000;
		display: block;
		width: 225px;
		margin: 10px auto;
		padding: 10px;
	}
	#popup5 {
		text-align: center;
		margin: auto;
		width: 90%;
		padding: 10px;
		margin-top: 10px;
		background: -moz-linear-gradient(top,  rgba(235,99,14,0.93) 0%, rgba(240,123,3,0.93) 50%, rgba(235,99,14,0.93) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,99,14,0.93)), color-stop(50%,rgba(240,123,3,0.93)), color-stop(100%,rgba(235,99,14,0.93))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(235,99,14,0.93) 0%,rgba(240,123,3,0.93) 50%,rgba(235,99,14,0.93) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeb630e', endColorstr='#edeb630e',GradientType=0 ); /* IE6-9 */
		font-size: 18px;
		margin-top: 20px;
	}
	#popup5 .label {
		width: 150px;
		height: 26px;
		background-image: url(/assets/bg-label_mobile.png);
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		padding-top: 5px;
		margin: 10px -9px;
		display: inline-block
	}
	.fancybox-inner img{
		width: 100%;
	}
	#gallery{background-color: #FFF}
	#photos { text-align: center; width: 100%; margin: 0 auto; padding-bottom: 15px; }
	#photos .picture { width: 45%; display: inline-block; margin: 5% 1.5% 7px 2.5%; float: left;}
	#photos .picture .thumbcover{width: 100%;  margin-top: 10px; overflow: hidden;}
	#photos .picture .thumbcover img{width:100%;}

	#gallery .picture .cell-top img{max-height:30px; max-width: 30px; 	float: left;}
	#gallery .picture .cell-top .text{
		vertical-align: bottom;
		float: left;
		margin-left: 5px;
		margin-top: 13px;
		font-size: .7em
	}
	#disclaimer{color: #FFF !important; font-size: .65em; margin: 10px;}
	#disclaimer a:link, #disclaimer a:hover, #disclaimer a:visited, #disclaimer a:active{
		color: #FFF;
	}
	.uploadifive-queue-item {
		background-color: rgba(0, 0, 0, 0) !important;
		border-bottom: 0px dotted #D5D5D5 !important;
		border-radius: none;
		font: 12px Arial, Helvetica, Sans-serif;
		margin-top: 3px;
		padding: 5px;
	}

	.uploadifive-queue-item .progress-bar {
		background-color: #FFF !important;
	}