@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'ToyotaDisplay_Bd';
    src: url('/assets/ToyotaDisplay_Bd.eot');
    src: url('/assets/ToyotaDisplay_Bd.eot') format('embedded-opentype'),
         url('/assets/ToyotaDisplay_Bd.woff') format('woff'),
         url('/assets/ToyotaDisplay_Bd.ttf') format('truetype'),
         url('/assets/ToyotaDisplay_Bd.svg#ToyotaDisplay_Bd') format('svg');
}

.Bd {font-family: 'ToyotaDisplay_Bd';}

@font-face {
    font-family: 'ToyotaDisplay_Rg';
    src: url('/assets/ToyotaDisplay_Rg.eot');
    src: url('/assets/ToyotaDisplay_Rg.eot') format('embedded-opentype'),
         url('/assets/ToyotaDisplay_Rg.woff') format('woff'),
         url('/assets/ToyotaDisplay_Rg.ttf') format('truetype'),
         url('/assets/ToyotaDisplay_Rg.svg#ToyotaDisplay_Rg') format('svg');
}

.Rg {font-family: 'ToyotaDisplay_Rg';}

body {
	margin: 0;
	padding: 0;
	background: white url(/assets/bg.jpg) no-repeat center 0;
	min-height: 100%;
	background-size: cover;
}

.fgwhite{color: #fff}
.fgblack{color: #000}

#popup1{
	background: url(/assets/bg-popup1.png);
	width: 770px;
	height: 249px;
	margin: auto;
	margin-top: 20px;
	padding-top: 1px;
	text-align: center;
	font-size: 14px;
}

#popup1 img#circle-car{
	height: 200px;
	width: 200px;
	margin-left: 280px;
	float: left;
	margin-top: -33px;
}

#popup2{
	background: url(/assets/bg-popup2.png) no-repeat;
	width: 770px;
	height: 450px;
	margin: auto;
	margin-top: 100px;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	padding-bottom: 246px;
}

#popup2 p{margin: 5px;}

#popup2 p a:link, #popup2 p a:visited, #popup2 p a:active, #popup2 p a:hover{
	color: #fff;
	text-decoration: none;
}

div.button{
	padding: 10px 40px;
	font-size: 20px;
	background: #fff;
	display: inline-block;
	cursor: pointer;
	-moz-box-shadow: 0px 5px 5px #b85d06; 
	-webkit-box-shadow: 0px 5px 5px #b85d06; 
	box-shadow:0px 5px 5px #b85d06;
}

div.button a:link, div.button a:active, div.button a:hover, div.button a:visited{
	color: #000;
	text-decoration: none;
}

#popup2 div.button{margin-top: 6px;}
#popup2 .categorie{cursor: pointer;}
.categorie{float: left; margin: 0 18px; padding-top: 190px; width: 220px; background-position: top center; background-repeat: no-repeat;}
.label{
	width: 225px;
	height: 34px;
	background-image: url(/assets/bg-label.png);
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	padding-top: 8px;
	margin-left: -8px;
}

.label a:link, .label a:visited{color: #000; text-decoration: none;}
.label a:hover, .label a:active{color: #ff7200}
.label.active a:link, .label.active a:visited, .label.active a:hover{color: #ff7200}

#popup2 .categorie{height: 50px;}

#popup2 .categorie .label{cursor: pointer;}
#popup2 .categorie .label a:link, #popup2 .categorie .label a:active, #popup2 .categorie .label a:visited, #popup2 .categorie .label a:hover{
	color: #000; text-decoration: none;
}

#popup3{
	background: url(/assets/bg-popup3.png);
	width: 770px;
	height: 388px;
	margin: auto;
	margin-top: 30px;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
}

#popup3 h2{margin: 10px 0 0 234px; padding: 0; text-align: left;}

#popup3 p{margin: 7px; padding: 0; font-size: 14px;}

.row_form{
	float: right;
	margin-right: 224px;
	margin-top: 0;
	height: 40px;
	width: 320px;
}

.row_form a:link, .row_form a:visited, .row_form a:active, .row_form a:hover{
	color: #fff;
}

.row_form div{
	font-size: 14px;
	float: left;
	margin-top: 10px;
}

#loading_ressources{
	position: absolute;
	height: 388px;
	width: 770px;
	
}
.row_form input[type=text]{padding: 0 10px; float: right; width: 206px; height: 20px; background: #fff; border: 0px; margin-left: 10px; font-size: 12px; margin-top: 10px;}
.row_form input[type=checkbox] {float: left; margin-top: 12px; margin-right: 10px;}

#popup4{
	background: url(/assets/bg-popup2.png);
	background-repeat: no-repeat;
	width: 770px;
	height: 556px;
	margin: auto;
	margin-top: 25px;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}

#popup4 .categorie.over, #popup4 .categorie:hover{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

		#popup4 .categorie p{
			height: 90px!important;
		}

#popup4 .categorie p{font-size: 14px;}

#popup4 .categorie{
	opacity: .5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	cursor: default;
	height: 205px;
	position: relative;
}

#popup4 .categorie .uploadifive-button{
	position: absolute;
	bottom: 0;
	cursor: pointer;
}

#popup4 .categorie input{cursor: pointer;}

#popup4 div.button{margin-top: 20px;}

.popup5{
	width: 758px;
	height: 1001px;
	margin: auto;
	margin-top: 30px;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}

#popup5{background: url(/assets/bg-popup4.png) no-repeat;}

#popup5-bis{background: url(/assets/bg-popup4-bis.png) no-repeat; height: 500px;}
#popup5-bis a:link, #popup5-bis a:visited, #popup5-bis a:hover, #popup5-bis a:active{color: #000; font-size: 14px;}
.done #gall{
	background: #000;
	display: table-cell;
	padding: 5px 30px 5px 15px;
}

.done #gall a:link, .done #gall a:visited, .done #gall a:hover, .done #gall a:active{color: #fff; text-decoration: none;}

.done #gall div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

.done #back{
	background: #000;
	display: table-cell;
	padding: 5px 30px 5px 15px;
}

.done #back a:link, .done #back a:visited, .done #back a:hover, .done #back a:active{color: #fff; text-decoration: none;}

.done #back div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

#popup2 #dota{
	background: #000;
	display: block;
	padding: 5px 30px 5px 15px;
	margin-left: 255px;
	margin-top: 8px;
	position: relative;
	margin-right: 267px;
}

#popup2 #dota div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

#popup2 #dota a:link, #popup2 #dota a:visited, #popup2 #dota a:hover, #popup2 #dota a:active{color: #fff; text-decoration: none;}

#popup3 #dota, #popup4 #dota-bot{
	background: #000;
	padding: 5px 30px 5px 15px;
	position: absolute;
	margin-left: 510px;
	margin-top: 8px;
	display: block;
}

#popup4 #dota-bot{margin-left: 310px; margin-top: 20px;}

#popup3 #dota div, #popup4 #dota-bot div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

#popup3 #dota a:link, #popup3 #dota a:visited, #popup3 #dota a:hover, #popup3 #dota a:active,
#popup4 #dota-bot a:link, #popup4 #dota-bot a:visited, #popup4 #dota-bot a:hover, #popup4 #dota-bot a:active{color: #fff; text-decoration: none;}

#popup3 #back{
	background: #000;
	display: table-cell;
	padding: 5px 30px 5px 15px;
	position: absolute;
	margin-left: 26px;
	margin-top: 8px;
}

#popup3 #back a:link, #popup3 #back a:visited, #popup3 #back a:hover, #popup3 #back a:active{color: #fff; text-decoration: none;}

#popup3 #back div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

.popup5 #dotation{
	background: #000;
	display: table-cell;
	padding: 5px 30px 5px 15px;
}

.popup5 #dotation div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}

.popup5 #post{
	background: #000;
	display: table-cell;
	padding: 5px 30px 5px 15px;
	margin: 10px;
}

.popup5 #post a:link, .popup5 #post a:visited, .popup5 #post a:active, .popup5 #post a:hover{
	color: #fff;
	text-decoration: none;
}

.popup5 #dotation a:link, .popup5 #dotation a:visited, .popup5 #dotation a:active, .popup5 #dotation a:hover{
	color: #fff;
	text-decoration: none;
}

.popup5 #post div{vertical-align: center; margin-top: 2px; font-size: 14px; float: right; margin-left: 10px;}
#popup5 .label{float: left; margin-top: 40px;}
#top-gallery{width: 473px; margin-top: 10px; float: right; margin-right: 25px;}
#popup5-bis #top-gallery{width: 379px;}

#gallery{
	width: 710px;
	height: 819px;
	margin-top: 17px;
	margin-left: 23px;
}

#gallery .cell{
	height: 210px;
	width: 230px;
	float: left;
	margin-left: 6px;
	margin-top: 20px;
}

#gallery .cell .cell-top{
	height: 40px;
	margin-bottom: 5px;
	display: table-cell;
}

#gallery .cell .cell-top img{max-height:36px; max-width: 36px; 	float: left;}
#gallery .cell .cell-top .text{
	vertical-align: bottom;
	float: left;
	margin-left: 10px;
	margin-top: 13px;
}

#gallery .cell .thumbnail-container{
	height: 166px;
	width: 223px;
	background: #CCC;
	overflow: hidden;
}

#gallery .cell .thumbnail-container img{
	min-height: 170px;
    min-width: 230px;
    max-height: 270px;
    max-width: 330px;
    position: relative;
    cursor: pointer;
}

#paginate{
	display: block;
	width: 100%;
	text-align: center
}

#paginate ul{margin: 0 auto; display:inline;}
#paginate li{margin: 0 auto; display:inline}

.done{
	width: 720px;
	background: #fff;
	margin: auto;
	padding: 10px 0;
	margin-top: 50px;
}

.done center{font-size: 23px;}

.done .circle-container{
	width: 483px;
	margin: auto;
}

.done .circ{
	width: 115px;
	height: 105px;
	background: url(/assets/circle.jpg);
	font-size: 56px;
	text-align: center;
	float: left;
	margin: 17px 23px;
	padding-top: 10px;
	background-repeat: no-repeat;
	background-position: center 0;
}

.done a:link, .done a:visited, .done a:hover{color: #fff; text-decoration: none;}

.done #add-more-link img, .done #gallery-link img, .done #add-more-link div, .done #gallery-link div{float: left; margin: 0 5px;}
.done #add-more-link, .done #gallery-link{
	background: #000;
	display: table-cell;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.done #add-more-link{float: left; margin-left: 100px;} 
.done #gallery-link{float: right; margin-right: 100px;}
.done .alone{margin-right: 255px;}
#container-prizes{
	text-align: center;
	width: 281px;
	float: left;
	margin-top: 30px;
}

#popup5-bis #text{
	font-size: 16px;
	float: left;
	width: 460px;
	margin-top: 70px;
	margin-bottom: 30px;
}

#main-img{
	max-height: 250px;
}

#small-img{
	max-height: 120px;
	max-height: 120px;
	margin-left: -122px;
	margin-bottom: -31px;
}

#popup5-bis center{
	font-size: 22px;
	margin-top: 45px;
}


#header{
	width: 763px;
	margin: auto;
	height: 154px;
}

#header a:link, #header a:visited, #header a:active, #header a:hover{
	border:0;
	color: transparent;
	text-decoration: none;
}

#gt86logo{
	float: left;
	margin-top: 19px;
	margin-left: 2px;
}

#toyotalogo{
	float: right;
	margin-right: 7px;
}

#disclaimer{
	width: 100%;
	text-align: center;
	font-size: 10px;
	background: #fff;
	margin-top: 30px;
	position: absolute;
	bottom:0;
	left:0;
}

#disclaimer a:link, #disclaimer a:hover, #disclaimer a:visited, #disclaimer a:active{
	color: #000;
}

#know_more:link, #know_more:visited, #know_more:hover, #know_more:active{
	color: #000;
}

.uploadifive-markup{
	color: #000; margin-top: 18px; margin-left: 5px; background-color: #fff; background-position: initial; background-repeat: initial initial;height: 30px;padding-top: 2px; display: none;cursor: default;
}

.uploadify-markup{
	color: #000; margin-top: -58px; margin-left: 5px; background-color: #fff; background-position: initial; background-repeat: initial initial;height: 30px;padding-top: 2px; display: none; cursor: default;
}

.uploadify object{
	margin-left: -114px;
	margin-top: -4px;
}