/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/

.uploadifive-button {
	background-color: transparent;
	width: 100%;
	cursor: pointer;
}
.uploadifive-button:hover {
	background-color: transparent;
	cursor: pointer;
}
.uploadifive-queue-item {
	background-color: transparent;
}
.uploadifive-queue-item .close {
	background: url('/assets/uploadifive-cancel.png') 0 0 no-repeat;
	display: block;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadifive-queue-item .progress {
	border: 1px solid #D0D0D0;
	height: 3px;
	margin-top: 5px;
	width: 100%;
}
.uploadifive-queue-item .progress-bar {
	background-color: #000;
	height: 3px;
	width: 0;
}

.uploadifive-queue-item .filename, .uploadifive-queue-item .fileinfo, .uploadifive-queue-item .close{display: none;}