/*
Uploadify
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
Released under the MIT License <http://www.opensource.org/licenses/mit-license.php> 
*/

.uploadify {
	position: relative;
	margin-bottom: 1em;
}
.uploadify-button {
	background-color: transparent;
	text-align: center;
	width: 100%;
	cursor: pointer;
}
.uploadify:hover .uploadify-button {
	background-color: transparent;
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
}
.uploadify-queue-item {
	background: transparent;
	margin-top: -10px;
}
.uploadify-error {
	display: none;
}
.uploadify-queue-item .cancel a {
	display: none;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	border: 1px solid #D0D0D0;
	margin-top: 5px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #000;
	height: 3px;
	width: 1px;
}

.uploadify-queue-item .fileName, .uploadify-queue-item .data, .uploadify-queue-item .cancel{display: none;}