<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.title -%></title>
  <%= stylesheet_link_tag 'bootstrap.min.css', 'simplePagination.css' %>
  <%= javascript_include_tag "admin_app" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="alert" style='display: none;'></div>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
    	<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    		<span class="icon-bar"></span>
    	</a>
    	<a class="brand" href="#">Toyota</a>
    	<div class="nav-collapse collapse navbar-responsive-collapse">
    		<ul class="nav">
    			<li><a href="/admin">Stats</a></li>
    			<li><a href="/admin/users">Administrators</a></li>
    			<li class="dropdown" id="subscribers">
    				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Subscribers <b class="caret"></b></a>
    				<ul class="dropdown-menu">
                        <li class="nav-header">Moderation</li>
    					<li><a href="/admin/subscribers">Moderate</a></li>
    					<li><a href="/admin/winners">Winners</a></li>
                        <li class="divider"></li>
                        <li class="nav-header">Social</li>
    					<li><a href="/admin/notifications">Notifications</a></li>
    				</ul>
    			</li>
    		</ul>
    	</div><!-- /.nav-collapse -->
    </div>
  </div>
</div>
<div style='max-width: 768px; margin: auto'>
<%= yield %>
</div>

<div id='fb-root'></div>
<script type="text/javascript">
	window.fbAsyncInit = function() 
	{
		FB.init({
		  appId  : '<%= Settings.facebook.app_id -%>',
		  status : true, // check login status
		  cookie : true, // enable cookies to allow the server to access the session
		  xfbml  : true, // parse XFBML
		  oauth  : true
		});

		FB.Canvas.setAutoGrow();
		FB.Canvas.scrollTo(0,0);
	};


	(function(d){
		 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement('script'); js.id = id; js.async = true;
		 js.src = "//connect.facebook.net/fr_FR/all.js";
		 ref.parentNode.insertBefore(js, ref);
	}(document));
</script>
</body>
</html>
