<!DOCTYPE html>
<html style='height: 100%'>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <title><%= Settings.title -%></title>
  <% if request.env['mobvious.device_type'].to_s == 'mobile' %>
  	<%= stylesheet_link_tag 'mobile', :media => 'all' %>
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport">
  <% else %>
  	<%= stylesheet_link_tag 'application', :media => 'all' %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
	if (!window.console) window.console = {};
	if (!window.console.log) window.console.log = function () { };
  </script>
</head>
<body style='min-height: 100%; position:relative;'>
<!--[if LT IE 10 ]>  
	<style>.uploadify object{margin-left: 0;}</style>
	<div style='display:none' class='body ie10'></div>
<![endif]--> 
<div style='display:none' class='body'></div>

<%= yield %>

<div id='fb-root'></div>
<script type="text/javascript">
	window.fbAsyncInit = function() 
	{
		FB.init({
		  appId  : '<%= Settings.facebook.app_id -%>',
		  status : true, // check login status
		  cookie : true, // enable cookies to allow the server to access the session
		  xfbml  : true, // parse XFBML
		  oauth  : true
		});

		FB.Canvas.setAutoGrow();
		FB.Canvas.scrollTo(0,0);

		FB.Event.subscribe('edge.create',
			function(href, widget) {
				top.location.href = href;
			}
		);
		
		fbApiInit = true;		
	};

	function fbEnsureInit(callback) {
        if(!window.fbApiInit) {
            setTimeout(function() {fbEnsureInit(callback);}, 50);
        } else {
            if(callback) {
                callback();
            }
        }
    }

	(function(d){
		 var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		 if (d.getElementById(id)) {return;}
		 js = d.createElement('script'); js.id = id; js.async = true;
		 js.src = "//connect.facebook.net/fr_FR/all.js";
		 ref.parentNode.insertBefore(js, ref);
	}(document));
</script>

</body>
</html>
